#menu {
    height: 100%;
    width: 200px;
    background: linear-gradient(180deg, rgba(40,44,52,1) 0%, rgba(40,44,150,1) 450%);
    position: absolute;

    color: white;
    font-size: 125%;
    padding: 5px;
    text-align: center;
}

#menu label {
    color: #2d7ecf;
}

#menu-links {
    width: 100%;
    max-width: 200px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 25px;
    text-align: left;
}

#menu a {
    display: block;
    padding: 10px 30px 10px 30px;
    color: white;
    text-decoration: none;
}

#menu a:hover {
    background-color: rgb(43, 43, 43);
    color: whitesmoke;
}

#menu-btn-emergency {
    margin-top: 10px;
    background-color: #eb4034;
    color: white;
    border-radius: 5px;
    outline:0;
}