.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

#main {
  height: 100vh;
  margin-left: 205px;
  margin-right: 5px;
  background: linear-gradient(180deg, rgba(40,44,52,1) 0%, rgba(40,44,150,1) 450%);
  overflow-x: hidden;
  color: white;
}

#main form {
  width: 70%;
  margin: auto;
  margin-top: 2vh;
}

#main form > div {
  margin-bottom: 25px;
}

.page-name {
  text-align: center;
  margin-top: 10px;
}